In [1]:
import pandas as pd
import numpy as np
import io
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score

In [2]:
with open("amazon_cells_labelled.txt","r") as file:
    print(file.readlines()[0])

So there is no way for me to plug it in here in the US unless I go by a converter.	0

In [3]:
df = pd.read_csv("amazon_cells_labelled.txt",sep = "\t",header = None)

In [4]:
df.columns = ["Sentence", "Opinion"]

In [5]:
df.head(5)

                                            Sentence  Opinion
0  So there is no way for me to plug it in here i...        0
1                        Good case, Excellent value.        1
2                             Great for the jawbone.        1
3  Tied to charger for conversations lasting more...        0
4                                  The mic is great.        1

In [6]:
predictive_terms = ["good","satisfied","perfect","impressed","amazing","great deal","great price","comfortable","excellent","highly recommend","works great","works fine","easy","trouble","horrible","disappointing","shout","couldn't hear","broke","terrible","poor","waste"]

In [7]:
for var in predictive_terms:
    df[var] = [1 if var in x.lower() else 0 for x in df["Sentence"]]

In [8]:
df.head(5)

,Sentence,Opinion,good,satisfied,perfect,impressed,amazing,great deal,great price,comfortable,...,easy,trouble,horrible,disappointing,shout,couldn't hear,broke,terrible,poor,waste
0,So there is no way for me to plug it in here i...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Good case, Excellent value.",1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Great for the jawbone.,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tied to charger for conversations lasting more...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The mic is great.,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
data = df[predictive_terms+["Opinion"]]
print(data.corr()["Opinion"].sort_values(ascending = False))
result = []
i = 0
data_corr = data.corr()
data_corr["id"] = data_corr.index
for corr_value in data_corr["Opinion"]:
    if abs(corr_value)>= 0.1:
        result.append(data_corr["id"][i])
    i += 1
print(result)

Opinion             1.000000
good                0.186035
excellent           0.154242
works great         0.131507
easy                0.090259
highly recommend    0.089803
perfect             0.083960
works fine          0.077693
satisfied           0.063372
great price         0.054855
great deal          0.054855
comfortable         0.051273
couldn't hear       0.031639
amazing             0.031639
impressed           0.010589
trouble            -0.018285
shout              -0.031639
disappointing      -0.070888
horrible           -0.083960
terrible           -0.100504
broke              -0.100504
waste              -0.127515
poor               -0.131507
Name: Opinion, dtype: float64
['good', 'excellent', 'works great', 'broke', 'terrible', 'poor', 'waste', 'Opinion']

In [10]:
for i in range(len(result)-1):
    x = df[result[:i+1]]
    y = df["Opinion"]
    print(list(x.columns))
    bnb = BernoulliNB()
    print(cross_val_score(bnb,x,y,cv = 5))
    print("-"*40)

['good']
[0.545 0.58  0.54  0.515 0.565]
----------------------------------------
['good', 'excellent']
[0.565 0.605 0.56  0.535 0.595]
----------------------------------------
['good', 'excellent', 'works great']
[0.59  0.63  0.58  0.545 0.6  ]
----------------------------------------
['good', 'excellent', 'works great', 'broke']
[0.59  0.63  0.58  0.545 0.6  ]
----------------------------------------
['good', 'excellent', 'works great', 'broke', 'terrible']
[0.59  0.63  0.58  0.545 0.6  ]
----------------------------------------
['good', 'excellent', 'works great', 'broke', 'terrible', 'poor']
[0.59  0.63  0.58  0.545 0.6  ]
----------------------------------------
['good', 'excellent', 'works great', 'broke', 'terrible', 'poor', 'waste']
[0.59  0.63  0.58  0.545 0.6  ]
----------------------------------------

In [11]:
bnb = BernoulliNB()
x = df[predictive_terms]
y = df["Opinion"]
bnb.fit(x,y)
conf_mat = confusion_matrix(y,y_predicted)
print("Accuracy = ", conf_mat[0][0]/(conf_mat[0][0]+conf_mat[0][1]+conf_mat[1][0]+conf_mat[1][1])
print ()

SyntaxError: invalid syntax (<ipython-input-11-bf0b91ddf9bb>, line 7)