In [43]:
import pandas as pd
import numpy as np
import io
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix

In [13]:
with open("amazon_cells_labelled.txt","r") as file:
    print(file.readlines()[0])

So there is no way for me to plug it in here in the US unless I go by a converter.	0

In [18]:
df = pd.read_csv("amazon_cells_labelled.txt",sep = "\t",header = None)

In [19]:
df.columns = ["Sentence", "Opinion"]

In [20]:
df.head(5)

                                            Sentence  Opinion
0  So there is no way for me to plug it in here i...        0
1                        Good case, Excellent value.        1
2                             Great for the jawbone.        1
3  Tied to charger for conversations lasting more...        0
4                                  The mic is great.        1

In [31]:
predictive_terms = ["good","satisfied","perfect","impressed","amazing","great deal","great price","comfortable","excellent","highly recommend","works great","works fine","easy","trouble","horrible","disappointing","shout","couldn't hear","broke","terrible","poor","waste"]

In [32]:
for var in predictive_terms:
    df[var] = [1 if var in x.lower() else 0 for x in df["Sentence"]]

In [33]:
df.head(5)

,Sentence,Opinion,satisfied,perfect,impressed,amazing,great deal,great price,comfortable,excellent,...,disappointing,shout,couldn't hear,broke,terrible,poor,waste,works fine,trouble,good
0,So there is no way for me to plug it in here i...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Good case, Excellent value.",1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,Great for the jawbone.,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tied to charger for conversations lasting more...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The mic is great.,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
bnb = BernoulliNB()
x = df[predictive_terms]
y = df["Opinion"]
bnb.fit(x,y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [38]:
y_predicted = bnb.predict(x)

In [42]:
sum = 0
for i in range(len(df["Sentence"])):
    if y[i]==y_predicted[i]:
        sum += 1
print (sum/len(df["Sentence"]))

0.638

In [44]:
confusion_matrix(y,y_predicted)

array([[476,  24],
       [338, 162]])

In [47]:
files = ["imdb_labelled.txt","yelp_labelled.txt"]
for file in files:
    df = pd.read_csv(file,sep = "\t",header = None)
    df.columns = ["Sentence", "Opinion"]
    for var in predictive_terms:
        df[var] = [1 if var in x.lower() else 0 for x in df["Sentence"]]
    bnb = BernoulliNB()
    x = df[predictive_terms]
    y = df["Opinion"]
    bnb.fit(x,y)
    y_predicted = bnb.predict(x)
    sum = 0
    for i in range(len(df["Sentence"])):
        if y[i]==y_predicted[i]:
            sum += 1
    print ("Correctly Labeled Cases in {} = ".format(file),sum/len(df["Sentence"]))
    print()
    mat = confusion_matrix(y,y_predicted)
    print ("Confusion Matrix in {} = ".format(file),mat)
    print("-"*40)

Correctly Labeled Cases in imdb_labelled.txt =  0.5614973262032086

Confusion Matrix in imdb_labelled.txt =  [[ 37 325]
 [  3 383]]
----------------------------------------
Correctly Labeled Cases in yelp_labelled.txt =  0.599

Confusion Matrix in yelp_labelled.txt =  [[478  22]
 [379 121]]
----------------------------------------