In [132]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [133]:
df = pd.read_csv("table_8.csv", header = [4])

In [134]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,"1,861",0,0.0,NaN,0,0,0,12,2,10,0,0.0,NaN
1,Addison Town and Village,"2,577",3,0.0,NaN,0,0,3,24,3,20,1,0.0,NaN
2,Akron Village,"2,846",3,0.0,NaN,0,0,3,16,1,15,0,0.0,NaN
3,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN,NaN
4,Albion Village,"6,388",23,0.0,NaN,3,4,16,223,53,165,5,NaN,NaN

In [135]:
reg_features = df

In [141]:
df.dtypes
df["Arson3"].dtype

dtype('float64')

In [142]:
for var in reg_features.columns:
    if reg_features[var].dtype != "float64" and var != "City":
        reg_features[var] = [float(str(x).replace(",","")) for x in df[var]]

In [143]:
reg_features["Robbery_dummy"] = [1 if float(x) > 0 else 0 for x in reg_features["Robbery"]]

In [144]:
len(df["City"])

351

In [145]:
reg_features["Murder"] = [1 if float(x) > 0 else 0 for x in reg_features["Murder and\nnonnegligent\nmanslaughter"]]

In [146]:
reg_features["Population"].describe()

count    3.480000e+02
mean     4.003763e+04
std      4.500374e+05
min      5.260000e+02
25%      3.003000e+03
50%      7.233500e+03
75%      1.842750e+04
max      8.396126e+06
Name: Population, dtype: float64

In [147]:
reg_features["Population_squared"] = [x*x for x in reg_features["Population"]]

In [148]:
regr = linear_model.LinearRegression()
df_model = reg_features.loc[:,["Property\ncrime","Population","Population_squared","Murder","Robbery_dummy"]]
df_model = df_model.dropna()

In [149]:
x = df_model[["Population","Population_squared","Murder","Robbery_dummy"]]
y = df_model["Property\ncrime"]
regr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [150]:
print("Regression Coefficients: ", regr.coef_)
print("Regression Intercept: ", regr.intercept_)

Regression Coefficients:  [ 3.46570268e-02 -2.11108019e-09  1.51866535e+01 -9.62774363e+01]
Regression Intercept:  -109.57533562257333