In [3]:
import numpy as np
import pandas as pd

In [4]:
age = {"Greg":14,"Marcia":12,"Peter":11,"jan":10,"Bobby":8, "Cindy":6,"Oliver":8}

In [9]:
def describe(age):
    x = list(age.values())
    Mu = np.mean(x)
    Std = np.std(x)
    SE=(np.array(x)).std(ddof=1)
    print(str(Mu)+"\n"+str(Std)+"\n"+str(SE))
    return;

In [10]:
describe(age)

9.857142857142858
2.531435020952764
2.734262327610589

In [11]:
age_Cindy_removed = age
del age_Cindy_removed["Cindy"]
describe(age_Cindy_removed)

10.5
2.140872096444188
2.345207879911715

In [32]:
age = {"Greg":14,"Marcia":12,"Peter":11,"jan":10,"Bobby":8, "Cindy":6,"Oliver":8}
age_Oliver_swapped_by_Jessica = age
age_Oliver_swapped_by_Jessica["Jessica"] = 1
del age_Oliver_swapped_by_Jessica["Oliver"]
describe(age_Oliver_swapped_by_Jessica)

8.857142857142858
4.015276949301485
4.3369947901195145

{'Greg': 14, 'Marcia': 12, 'Peter': 11, 'jan': 10, 'Bobby': 8, 'Jessica': 1}